.button{
    display:flex;
    padding:5px;
    width:100%;
    justify-content:center;

}

button {
  margin-top:20px;
  background-color: mediumpurple;
  border-radius:7px;
  color:white;
  padding:10px;
}
